* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    width: 400px;
    margin: 40px auto;
}

form .input {
    border: none;
    border-bottom: #7d7d7d solid 2px;
    padding: 15px;
    width: 100%;
}

form .input:focus {
    outline: none;
}

form .borders {
    background: #0404f5;
    height: 2px;
    width: 0;
    display: block;
    margin-top: -2px;
    position: relative;
    transition: 0.5s;
}

form .count {
    /* position: relative; */
    text-align: end;
    display: block;
}