*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.three,
.all{
    height: 100vh;
    background: #262838;
    display: grid;
    place-items: center;
}
.contianer{
    width: 550px;
    box-shadow: 0 0 8px inset;
    padding: 20px;
    display: grid;
    gap: 15px;
}
.contianer >div{
    box-shadow: 0 0 8px inset black;
    padding: 15px 10px;
    color: white;
    display: grid;
    gap: 5px;
    grid-template-columns: 70px 1fr;
}
.contianer >div label{
    box-shadow: -2px 0 8px black;
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.contianer >div .brogres{
    box-shadow: 0 0 8px black ;
    position: relative;
}
.contianer >div .brogres span{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    /* width: 10%; */
    background: rgb(27, 25, 46);
    box-shadow: 05px 0px 8px black inset ;
    transition: 1s;
}